RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<FilesMatch "\.(sql|md)$">
    Deny from all
</FilesMatch>

Options -Indexes
